# Node modules
node_modules/

# Build output
dist/

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Mac system files
.DS_Store

# VSCode project settings
.vscode/
.idea/

# playground
playground/node_modules/
playground/dist/

# playground-nuxt
playground-nuxt/node_modules/
playground-nuxt/dist/
playground-nuxt/.nuxt/

# TypeScript build cache
*.tsbuildinfo

# Temporary files
*.tmp

# Environment files
.env
.env.local

# pack
hisonvue-1.0.0.tgz