:root {
    --hison-filledColor: '',
    --hison-emptyColor: '',
    --hison-filledTextColor: '',
    --hison-emptyTextColor: '',
    --hison-primary-buttonColor: '',
    --hison-primary-borderColor: '',
    --hison-primary-shadowColor: '',
    --hison-primary-hoverColor: '',
    --hison-primary-activeColor: '',
    --hison-primary-emptyTextColor: '',
    --hison-primary-filledTextColor: '',
    --hison-muted-buttonColor: '',
    --hison-muted-borderColor: '',
    --hison-muted-shadowColor: '',
    --hison-muted-hoverColor: '',
    --hison-muted-activeColor: '',
    --hison-muted-emptyTextColor: '',
    --hison-muted-filledTextColor: '',
    --hison-info-buttonColor: '',
    --hison-info-borderColor: '',
    --hison-info-shadowColor: '',
    --hison-info-hoverColor: '',
    --hison-info-activeColor: '',
    --hison-info-emptyTextColor: '',
    --hison-info-filledTextColor: '',
    --hison-success-buttonColor: '',
    --hison-success-borderColor: '',
    --hison-success-shadowColor: '',
    --hison-success-hoverColor: '',
    --hison-success-activeColor: '',
    --hison-success-emptyTextColor: '',
    --hison-success-filledTextColor: '',
    --hison-danger-buttonColor: '',
    --hison-danger-borderColor: '',
    --hison-danger-shadowColor: '',
    --hison-danger-hoverColor: '',
    --hison-danger-activeColor: '',
    --hison-danger-emptyTextColor: '',
    --hison-danger-filledTextColor: '',
    --hison-warning-buttonColor: '',
    --hison-warning-borderColor: '',
    --hison-warning-shadowColor: '',
    --hison-warning-hoverColor: '',
    --hison-warning-activeColor: '',
    --hison-warning-emptyTextColor: '',
    --hison-warning-filledTextColor: '',
    --hison-font-family: 'Arial, sans-serif';
}

/* HNote, HGrid */
.hison-wrap { display: inline-block; }

/* HButton */
.hison-button {
    display: inline-block;
    cursor: pointer;
    text-align: center;
    border: none;
    border-radius: 2px;
    font-family: var(--hison-font-family);
}
.hison-button:focus,
.hison-button:active {
    outline: none;
}
.hison-size-s-button {
    padding: 0.3rem 1rem;
    font-size: 0.65rem;
}
.hison-size-m-button {
    padding: 0.4rem 1.1rem;
    font-size: 0.8rem;
}
.hison-size-l-button {
    padding: 0.5rem 1.2rem;
    font-size: 0.9rem;
}
.hison-size-xl-button {
    padding: 0.6rem 1.4rem;
    font-size: 1rem;
}
.hison-color-primary-button {
    box-shadow: 0.25px 0.25px 2px 0.25px var(--hison-primary-shadowColor);
    background-color: var(--hison-primary-buttonColor);
    color: var(--hison-primary-filledTextColor);
}
.hison-color-muted-button {
    box-shadow: 0.25px 0.25px 2px 0.25px var(--hison-muted-shadowColor);
    background-color: var(--hison-muted-buttonColor);
    color: var(--hison-muted-filledTextColor);
}
.hison-color-info-button {
    box-shadow: 0.25px 0.25px 2px 0.25px var(--hison-info-shadowColor);
    background-color: var(--hison-info-buttonColor);
    color: var(--hison-info-filledTextColor);
}
.hison-color-success-button {
    box-shadow: 0.25px 0.25px 2px 0.25px var(--hison-success-shadowColor);
    background-color: var(--hison-success-buttonColor);
    color: var(--hison-success-filledTextColor);
}
.hison-color-danger-button {
    box-shadow: 0.25px 0.25px 2px 0.25px var(--hison-danger-shadowColor);
    background-color: var(--hison-danger-buttonColor);
    color: var(--hison-danger-filledTextColor);
}
.hison-color-warning-button {
    box-shadow: 0.25px 0.25px 2px 0.25px var(--hison-warning-shadowColor);
    background-color: var(--hison-warning-buttonColor);
    color: var(--hison-warning-filledTextColor);
}
/* Button Css Event */
.hison-color-primary-button-on-focus {
    box-shadow: 1px 1px 2px 1px var(--hison-primary-shadowColor) !important;
}
.hison-color-primary-button-on-active {
    background-color: var(--hison-primary-activeColor) !important;
    box-shadow: 1px 1px 2px 1px var(--hison-primary-shadowColor) !important;
}
.hison-color-primary-button-on-mouseover {
    background-color: var(--hison-primary-hoverColor) !important;
}
.hison-color-muted-button-on-focus {
    box-shadow: 1px 1px 2px 1px var(--hison-muted-shadowColor) !important;
}
.hison-color-muted-button-on-active {
    background-color: var(--hison-muted-activeColor) !important;
    box-shadow: 1px 1px 2px 1px var(--hison-muted-shadowColor) !important;
}
.hison-color-muted-button-on-mouseover {
    background-color: var(--hison-muted-hoverColor) !important;
}
.hison-color-info-button-on-focus {
    box-shadow: 1px 1px 2px 1px var(--hison-info-shadowColor) !important;
}
.hison-color-info-button-on-active {
    background-color: var(--hison-info-activeColor) !important;
    box-shadow: 1px 1px 2px 1px var(--hison-info-shadowColor) !important;
}
.hison-color-info-button-on-mouseover {
    background-color: var(--hison-info-hoverColor) !important;
}
.hison-color-success-button-on-focus {
    box-shadow: 1px 1px 2px 1px var(--hison-success-shadowColor) !important;
}
.hison-color-success-button-on-active {
    background-color: var(--hison-success-activeColor) !important;
    box-shadow: 1px 1px 2px 1px var(--hison-success-shadowColor) !important;
}
.hison-color-success-button-on-mouseover {
    background-color: var(--hison-success-hoverColor) !important;
}
.hison-color-danger-button-on-focus {
    box-shadow: 1px 1px 2px 1px var(--hison-danger-shadowColor) !important;
}
.hison-color-danger-button-on-active {
    background-color: var(--hison-danger-activeColor) !important;
    box-shadow: 1px 1px 2px 1px var(--hison-danger-shadowColor) !important;
}
.hison-color-danger-button-on-mouseover {
    background-color: var(--hison-danger-hoverColor) !important;
}
.hison-color-warning-button-on-focus {
    box-shadow: 1px 1px 2px 1px var(--hison-warning-shadowColor) !important;
}
.hison-color-warning-button-on-active {
    background-color: var(--hison-warning-activeColor) !important;
    box-shadow: 1px 1px 2px 1px var(--hison-warning-shadowColor) !important;
}
.hison-color-warning-button-on-mouseover {
    background-color: var(--hison-warning-hoverColor) !important;
}

.hison-note-readonly * {
    pointer-events: none;
    outline: none;
}
.hison-note-readonly vanillanote-textarea {
    pointer-events: auto;
    user-select: text;
    outline: none;
}
.hison-note-disable {
    opacity: 0.5;
    cursor: not-allowed;
}
.hison-note-disable * {
    pointer-events: none;
    outline: none;
}
.hison-note-disable vanillanote-textarea {
    user-select: text;
    outline: none;
}

/* HInput */
.hison-input {
    display: inline-block;
    border: none;
    border-radius: 2px;
    font-family: var(--hison-font-family);
}
.hison-input-disable {
    opacity: 0.5;
    cursor: not-allowed !important;
}
.hison-input-disable * {
    pointer-events: none;
    user-select: none;
    outline: none;
}
.hison-input-readonly {
    box-shadow: none !important;
}
.hison-input-select-readonly {
    pointer-events: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
}
.hison-input-checkbox-readonly {
    pointer-events: none;
    outline: none;
}

.hison-input:hover,
.hison-input:focus,
.hison-input:active {
    outline: none;
}
.hison-size-s-input {
    padding: 0.3rem 1rem;
    font-size: 0.65rem;
}
.hison-size-m-input {
    padding: 0.4rem 1.1rem;
    font-size: 0.8rem;
}
.hison-size-l-input {
    padding: 0.5rem 1.2rem;
    font-size: 0.9rem;
}
.hison-size-xl-input {
    padding: 0.6rem 1.4rem;
    font-size: 1rem;
}
.hison-color-primary-input {
    box-shadow: 0.25px 0.25px 2px 0.25px var(--hison-primary-shadowColor);
    background-color: var(--hison-emptyColor);
    color: var(--hison-emptyTextColor);
}
.hison-color-muted-input {
    box-shadow: 0.25px 0.25px 2px 0.25px var(--hison-muted-shadowColor);
    background-color: var(--hison-emptyColor);
    color: var(--hison-emptyTextColor);
}
.hison-color-info-input {
    box-shadow: 0.25px 0.25px 2px 0.25px var(--hison-info-shadowColor);
    background-color: var(--hison-emptyColor);
    color: var(--hison-emptyTextColor);
}
.hison-color-success-input {
    box-shadow: 0.25px 0.25px 2px 0.25px var(--hison-success-shadowColor);
    background-color: var(--hison-emptyColor);
    color: var(--hison-emptyTextColor);
}
.hison-color-danger-input {
    box-shadow: 0.25px 0.25px 2px 0.25px var(--hison-danger-shadowColor);
    background-color: var(--hison-emptyColor);
    color: var(--hison-emptyTextColor);
}
.hison-color-warning-input {
    box-shadow: 0.25px 0.25px 2px 0.25px var(--hison-warning-shadowColor);
    background-color: var(--hison-emptyColor);
    color: var(--hison-emptyTextColor);
}
/* Input Css Event */
.hison-color-primary-input-on-active {
    box-shadow: 1px 1px 2px 1px var(--hison-primary-shadowColor)
}
.hison-color-primary-input-on-mouseover {
    box-shadow: 0.5px 0.5px 2px 0.5px var(--hison-primary-shadowColor)
}
.hison-color-muted-input-on-active {
    box-shadow: 1px 1px 2px 1px var(--hison-muted-shadowColor)
}
.hison-color-muted-input-on-mouseover {
    box-shadow: 0.5px 0.5px 2px 0.5px var(--hison-muted-shadowColor)
}
.hison-color-info-input-on-active {
    box-shadow: 1px 1px 2px 1px var(--hison-info-shadowColor)
}
.hison-color-info-input-on-mouseover {
    box-shadow: 0.5px 0.5px 2px 0.5px var(--hison-info-shadowColor)
}
.hison-color-success-input-on-active {
    box-shadow: 1px 1px 2px 1px var(--hison-success-shadowColor)
}
.hison-color-success-input-on-mouseover {
    box-shadow: 0.5px 0.5px 2px 0.5px var(--hison-success-shadowColor)
}
.hison-color-danger-input-on-active {
    box-shadow: 1px 1px 2px 1px var(--hison-danger-shadowColor)
}
.hison-color-danger-input-on-mouseover {
    box-shadow: 0.5px 0.5px 2px 0.5px var(--hison-danger-shadowColor)
}
.hison-color-warning-input-on-active {
    box-shadow: 1px 1px 2px 1px var(--hison-warning-shadowColor)
}
.hison-color-warning-input-on-mouseover {
    box-shadow: 0.5px 0.5px 2px 0.5px var(--hison-warning-shadowColor)
}

.hison-input-checkbox-div {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    box-shadow: none !important;
    background-color: var(--hison-emptyColor);
    color: var(--hison-emptyTextColor);
}
.hison-size-s-input input[type="checkbox"]:focus {
    outline: none;
    transform: scale(1.2);
}
.hison-size-m-input input[type="checkbox"] { transform: scale(1.2); }
.hison-size-m-input input[type="checkbox"]:focus {
    outline: none;
    transform: scale(1.4);
}
.hison-size-l-input input[type="checkbox"] { transform: scale(1.4); }
.hison-size-l-input input[type="checkbox"]:focus {
    outline: none;
    transform: scale(1.6);
}
.hison-size-xl-input input[type="checkbox"] { transform: scale(1.6); }
.hison-size-xl-input input[type="checkbox"]:focus {
    outline: none;
    transform: scale(1.8);
}
.hison-color-primary-input input[type="checkbox"] {
    cursor: pointer;
    accent-color: var(--hison-primary-buttonColor);
}
.hison-color-muted-input input[type="checkbox"] {
    cursor: pointer;
    accent-color: var(--hison-muted-buttonColor);
}
.hison-color-info-input input[type="checkbox"] {
    cursor: pointer;
    accent-color: var(--hison-info-buttonColor);
}
.hison-color-success-input input[type="checkbox"] {
    cursor: pointer;
    accent-color: var(--hison-success-buttonColor);
}
.hison-color-danger-input input[type="checkbox"] {
    cursor: pointer;
    accent-color: var(--hison-danger-buttonColor);
}
.hison-color-warning-input input[type="checkbox"] {
    cursor: pointer;
    accent-color: var(--hison-warning-buttonColor);
}

/* HInputGroup */
.hison-data-group {
    all: unset;
    display: inline;
}

/* HLayout */
.hison-layout {
    background-color: var(--hison-emptyColor);
    color: var(--hison-emptyTextColor);
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 2px;
}
.hison-layout > * {
    margin: 0;
}

/* HChart */
.hison-chart {
    background-color: var(--hison-emptyColor);
}

/* 수평 정렬 클래스 */
.hison-pos-left { margin-right: auto; }
.hison-pos-center { margin-left: auto; margin-right: auto; }
.hison-pos-right { margin-left: auto; }
/* 수직 정렬 클래스 */
.hison-layout-vertical-align-top { align-items: flex-start; }
.hison-layout-vertical-align-center { align-items: center; }
.hison-layout-vertical-align-bottom { align-items: flex-end; }

/* font decoretion */
.hison-font-bold { font-weight: bold; }
.hison-font-italic { font-style: italic; }
.hison-font-thruline { text-decoration: line-through }
.hison-font-underline { text-decoration: underline; }

/* display helpers */
.hison-display-none { display: none !important; }

/* disable */
.hison-disable { opacity: 0.5; cursor: not-allowed; }

/* 가로 12분할 */
.hison-col-1  { width: 8.3333%; box-sizing: border-box; }
.hison-col-2  { width: 16.6667%; box-sizing: border-box; }
.hison-col-3  { width: 25%; box-sizing: border-box; }
.hison-col-4  { width: 33.3333%; box-sizing: border-box; }
.hison-col-5  { width: 41.6667%; box-sizing: border-box; }
.hison-col-6  { width: 50%; box-sizing: border-box; }
.hison-col-7  { width: 58.3333%; box-sizing: border-box; }
.hison-col-8  { width: 66.6667%; box-sizing: border-box; }
.hison-col-9  { width: 75%; box-sizing: border-box; }
.hison-col-10 { width: 83.3333%; box-sizing: border-box; }
.hison-col-11 { width: 91.6667%; box-sizing: border-box; }
.hison-col-12 { width: 100%; box-sizing: border-box; }
